/* App.css */

.CodeMirror {
  height: 100% !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}

.controlled-editor {
  flex: 1;
  min-height: 100%;
  overflow: auto;
}

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
